includes:
	- ./vendor/phpstan/phpstan-doctrine/extension.neon
	- ./vendor/phpstan/phpstan-doctrine/rules.neon
	- ./vendor/phpstan/phpstan-strict-rules/rules.neon
	- ./vendor/shipmonk/phpstan-rules/rules.neon
	- ./vendor/phpstan/phpstan/conf/bleedingEdge.neon

rules:
	- PHPStan\Rules\Playground\MethodNeverRule

parameters:
	parallel:
		maximumNumberOfProcesses: 4
		processTimeout: 1200.0
		jobSize: 50
	level: 8
	fileExtensions:
		- php
		- phpt
	paths:
		- src
		- database
		- tests
	excludePaths:
		- temp/*

	strictRules:
		strictArrayFilter: true
	exceptions:
		implicitThrows: false
		checkedExceptionClasses:
			- App\Shared\Domain\Exception\RuntimeException
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true

	inferPrivatePropertyTypeFromConstructor: true
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		-
			identifier: missingType.checkedException
			path: tests/*
	propertyAlwaysWrittenTags:
		- '@@readonly' #some entity properties are filled only in DB
	shipmonkRules:
		enableAllRules: false
		forbidCheckedExceptionInCallable:
			allowedCheckedExceptionCallables:
				'Doctrine\ORM\EntityManagerInterface::wrapInTransaction': [0]
				'Tester\Assert::exception': [0]
			enabled: true
